@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    Current count:
    <h1 class="display-4">@Model.Count</h1>
    <p>
    things    
    </p>

    <form method="post">
        <input asp-page-handler="WithHttpClient" type="submit" value="Increment count using HTTP Client" />
    </form>

    <form method="post">
        <input asp-page-handler="WithDaprClient" type="submit" value="Increment count using Dapr Client" />
    </form>
</div>
