@page
@model CounterFrontend.Pages.PublishMessageModel
@{
    ViewData["Title"] = "Publish message";
}

<div class="text-center">
    <form method="post">        
        <input type="submit" title="Send" />
    </form>
</div>
